@model ProductWithStocksViewModel

@{
    ViewData["Title"] = $"{Model.Name}";
}




<!-- Product main img -->
<div class="col-md-5 col-md-push-2">
    <div id="product-main-img">
        <div class="product-preview">
            <img src="./img/product01.png" alt="">
        </div>

        <div class="product-preview">
            <img src="./img/product03.png" alt="">
        </div>

        <div class="product-preview">
            <img src="./img/product06.png" alt="">
        </div>

        <div class="product-preview">
            <img src="./img/product08.png" alt="">
        </div>
    </div>
</div>
<!-- /Product main img -->
<!-- Product thumb imgs -->
<div class="col-md-2  col-md-pull-5">
    <div id="product-imgs">
        <div class="product-preview">
            <img src="./img/product01.png" alt="">
        </div>

        <div class="product-preview">
            <img src="./img/product03.png" alt="">
        </div>

        <div class="product-preview">
            <img src="./img/product06.png" alt="">
        </div>

        <div class="product-preview">
            <img src="./img/product08.png" alt="">
        </div>
    </div>
</div>

<!-- /Product thumb imgs -->
<!-- Product details -->
<div class="col-md-5">
    <div class="product-details">
        <h2 class="product-name">@Model.Name</h2>
        <div>
            <div class="product-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <a class="review-link" href="#">10 Review(s) | Add your review</a>
        </div>
        <div>
            <h3 class="product-price">RUB @Model.Price.ToString("F0") <del class="product-old-price">RUB @Model.Price.ToString("F0") </del></h3>
            <span class="product-available">In Stock</span>
        </div>
        <p>@Model.Description</p>

        <form asp-action="ProductToCart">
            <div class="product-options">
                <label>
                    Options
                    <select class="input-select" asp-for="StockId">
                        @foreach (var stock in Model.StocksViewModel)
                        {
                            <option value="@stock.Id">@stock.Description</option>
                        }
                    </select>
                </label>
            </div>

            <div class="add-to-cart">
                <div class="qty-label">
                    Quantity
                    <div class="input-number">
                        <input type="number" value="0" asp-for="Quantity">
                        <span class="qty-up">+</span>
                        <span class="qty-down">-</span>
                    </div>
                </div>

                <button type="submit" class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
            </div>
        </form>

       
    </div>
</div>
<!-- /Product details -->
<!-- Product tab -->
<div class="col-md-12">
    <div id="product-tab">
        <!-- product tab nav -->
        <ul class="tab-nav">
            <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
            <li><a data-toggle="tab" href="#tab2">Details</a></li>
            <li><a data-toggle="tab" href="#tab3">Reviews (3)</a></li>
        </ul>
        <!-- /product tab nav -->
        <!-- product tab content -->
        <div class="tab-content">
            <!-- tab1  -->
            <div id="tab1" class="tab-pane fade in active">
                <div class="row">
                    <div class="col-md-12">
                        <p>@Model.Description</p>
                    </div>
                </div>
            </div>
            <!-- /tab1  -->
            <!-- tab2  -->
            <div id="tab2" class="tab-pane fade in">
                <div class="row">
                    <div class="col-md-12">
                        <p>@Model.Description</p>
                    </div>
                </div>
            </div>
            <!-- /tab2  -->
            <!-- tab3  -->
            <div id="tab3" class="tab-pane fade in">
                <div class="row">
                    <!-- Rating -->
                    <div class="col-md-3">
                        <div id="rating">
                            <div class="rating-avg">
                                <span>4.5</span>
                                <div class="rating-stars">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                </div>
                            </div>
                            <ul class="rating">
                                <li>
                                    <div class="rating-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-progress">
                                        <div style="width: 80%;"></div>
                                    </div>
                                    <span class="sum">3</span>
                                </li>
                                <li>
                                    <div class="rating-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="rating-progress">
                                        <div style="width: 60%;"></div>
                                    </div>
                                    <span class="sum">2</span>
                                </li>
                                <li>
                                    <div class="rating-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="rating-progress">
                                        <div></div>
                                    </div>
                                    <span class="sum">0</span>
                                </li>
                                <li>
                                    <div class="rating-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="rating-progress">
                                        <div></div>
                                    </div>
                                    <span class="sum">0</span>
                                </li>
                                <li>
                                    <div class="rating-stars">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="rating-progress">
                                        <div></div>
                                    </div>
                                    <span class="sum">0</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Rating -->
                    <!-- Reviews -->
                    <div class="col-md-6">
                        <div id="reviews">
                            <ul class="reviews">
                                <li>
                                    <div class="review-heading">
                                        <h5 class="name">John</h5>
                                        <p class="date">27 DEC 2018</p>
                                        <div class="review-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o empty"></i>
                                        </div>
                                    </div>
                                    <div class="review-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="review-heading">
                                        <h5 class="name">John</h5>
                                        <p class="date">27 DEC 2018</p>
                                        <div class="review-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o empty"></i>
                                        </div>
                                    </div>
                                    <div class="review-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="review-heading">
                                        <h5 class="name">John</h5>
                                        <p class="date">27 DEC 2018</p>
                                        <div class="review-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-o empty"></i>
                                        </div>
                                    </div>
                                    <div class="review-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                                    </div>
                                </li>
                            </ul>
                            <ul class="reviews-pagination">
                                <li class="active">1</li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- /Reviews -->
                    <!-- Review Form -->
                    <div class="col-md-3">
                        <div id="review-form">
                            <form class="review-form">
                                <input class="input" type="text" placeholder="Your Name">
                                <input class="input" type="email" placeholder="Your Email">
                                <textarea class="input" placeholder="Your Review"></textarea>
                                <div class="input-rating">
                                    <span>Your Rating: </span>
                                    <div class="stars">
                                        <input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
                                        <input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
                                        <input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
                                        <input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
                                        <input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
                                    </div>
                                </div>
                                <button class="primary-btn">Submit</button>
                            </form>
                        </div>
                    </div>
                    <!-- /Review Form -->
                </div>
            </div>
            <!-- /tab3  -->
        </div>
        <!-- /product tab content  -->
    </div>
</div>
<!-- /product tab -->


@*<div class="container mt-5 py-2 px-4 shadow-sm rounded">
    <h4>Name</h4>
    <p>@Model.Name</p>
    <h4>Description</h4>
    <p>@Model.Description</p>
    <h4>Price</h4>
    <p>@Model.Price</p>
    <form class="form-group" asp-action="ProductPost" asp-controller="Products">
        <input asp-for="Id" hidden readonly />
        <select asp-items="new SelectList(Model.StocksViewModel)">
            <option value="@Model.StocksViewModel"></option>
        </select>
        <input type="submit" class="btn btn-info" />
    </form>
</div>*@

